/* Welcome page container */
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f8ff;
  }
  
  /* Sign out button styling */
  .signout-btn {
    padding: 10px 20px;
    background-color: #0096FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .signout-btn:hover {
    background-color: #007acc;
  }
  